* {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.p img {
    display: flex;
    background-image: './img/image1.svg';
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    border-radius: 5rem;
    color: black;
    background-color: white;
    align-items: center;
}
