* {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

body {
    font-family: sans-serif;
    cursor: crosshair;
}

#txtScore {
    position: absolute;
    font-weight: bold;
    text-shadow: 0 0 8px #48fcff;
    user-select: none;
    padding: 8px;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}